version: "3.9"

services:
  nginx:
    image: nginx:latest
    container_name: nginx-reverse-proxy
    restart: always
    ports:
      - "0.0.0.0:80:80"
      - "0.0.0.0:443:443"
    volumes:
      - ./data/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./daata/conf.d:/etc/nginx/nginx.conf.d:ro
      - ./data/ssl:/etc/nginx/ssl:ro
      - ./data/sites-available:/etc/nginx/sites-available:ro
      - ./data/sites-enabled:/etc/nginx/sites-enabled:ro
      - ./logs:/var/log/nginx
